.product-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 80px;
}

.product-menu h1 {
    text-transform: uppercase;
    color: #121212;
    font-size: 22px;
    letter-spacing: .6px;
    font-weight: 600;
    padding: 0 10px;
}

.product-menu-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.product-menu-tabs li {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .6px;
    opacity: 40%;
    color: #121212;
    cursor: pointer;
    transition: 0.3s ease;
}

/*Dont change this styles*/
.product-menu-tabs li.active-list {
    opacity: 1;
    font-weight: 600;
}

/*Never change this styles*/

.product-menu-tabs li:hover {
    opacity: 1;
    font-weight: 500;
}

.product-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-card {
    max-width: 250px;
    margin: 10px;
}

.product-card img {
    width: 250px;
    height: 317px;
}

.product-card h3 {
    font-size: 14px;
    color: #121212;
    opacity: 60%;
    font-weight: 400;
    padding: 10px 0;
    line-height: 30px;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stars i:nth-child(1),
.stars i:nth-child(2),
.stars i:nth-child(3),
.stars i:nth-child(4) {
    color: #F0CC84;
}

.stars i {
    font-size: 12px;
    padding-left: 3px;
    color: #E6E6E6;
}

.product-price span {
    font-size: 14px;
    font-weight: 700;
    color: #121212;
}

.showProductsBtn {
    color: #121212;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .6px;
    background: #eeeeee;
    width: 100%;
    padding: 16px 20px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.3s ease;
}

.showProductsBtn:hover {
    background: #e1e1e1;
}

.cart-line-flex{
    display: inline;
}

.button-to-view{
    display: none;
}

.button-to-view button, .button-to-view a{
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #1c81fa;
    padding: 10px 20px;
    z-index: 10;
    margin: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.3s ease;
    text-align: center;
}

.button-to-view button:hover, .button-to-view a:hover{
    background-color: #FFFFFF;
    color: #1c81fa;
    border: 1px solid #1c81fa;
}

@media screen and (max-width: 839px) {
    .product-cards {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 1024px) {
    .product-menu-tabs {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .product-menu {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .product-menu-tabs {
        width: 90%;
    }
}

@media screen and (max-width: 560px) {
    .product-menu-tabs {
        width: 100%;
        padding: 0 10px;
    }

    .product-menu-tabs li {
        font-size: 10px;
    }
}

@media screen and (max-width: 475px) {
    .product-menu-tabs {
        flex-wrap: wrap;
    }

    .product-menu-tabs li {
        font-size: 9px;
        padding-left: 10px;
        padding-top: 9px;
    }
}