.product-page-title{
    background: #F8F8F8;
    padding: 10px 0 20px 0;
}

.page-location-share{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-location-share span{
    font-size: 11px;
    font-weight: 500;
    color: rgb(18, 18, 18);
}

.page-location-share .link-pred{
    color: rgba(18, 18, 18, 0.52);
}

.page-location-share span span{
    color: #121212;
}

.product-page-title h1{
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: .6px;
    text-transform: uppercase;
    color: #121212;
    padding: 20px 0 10px 0;
}

@media screen and (max-width: 425px) {
    .product-page-title h1{
        font-size: 20px;
    }
}