.nav{
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 2000;
}

.navbar-top{
    width: 100%;
    background: #121212;
    min-height: 23px;
}

.nav-top{
    width: 100%;
    min-height: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__top-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__top-contact span{
    color: #ffffff;
    font-size: 11px;
    padding-right: 20px;
}

.navbar__top-contact span:nth-child(1):hover,
.navbar__top-contact span:nth-child(2):hover{
    cursor: pointer;
}

.navbar__top-contact span i{
    padding-right: 5px;
}

.navbar__top-contact span a{
    color: #ffffff;
}

.navbar__top-social-net i{
    color: #ffffff;
    font-size: 11px;
    padding-left: 10px;
}

@media screen and (max-width: 600px) {
    .nav-top{
        display: inline;
    }

    .navbar__top-contact span{
        width: 100%;
        display: inline;
        text-align: center;
        padding-top: 5.3px;
    }
    .navbar__top-contact span:nth-child(2),
    .navbar__top-contact span:nth-child(3){
        display: none;
    }
    .navbar__top-social-net{
        display: none;
    }
}

.main-navbar{
    background: white;
    border-bottom: solid 2px #F8F8F8;
    position: sticky;
    top: 0px;
}

.navbar{
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-m{
    display: none;
}

.nav-list li a{
    color: #121212;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    padding-bottom: 10px;
}

.nav-list li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: #121212;
    transition: 0.4s ease;
    left: 50%;
    transform: translateX(-50%);
}

.nav-list li a:hover::after{
    width: 100%;
}

.nav-list li .active{
    position: relative;
}

.nav-list li .active::before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #121212;
    left: 0;
}

.burger {
    cursor: pointer;
    display: none;
}

.burger .line{
    transition: 0.3s ease;
    width: 20px;
    height: 3px;
    background-color: #121212;
    margin: 3px 0;
}

.navbar-right{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-right i{
    color: #121212;
    font-size: 16px;
    cursor: pointer;
}

.cart-icon{
    position: relative;
    cursor: pointer;
}

.total-product{
    background: #121212;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 0.6em;
    line-height: 17px;
    position: absolute;
    text-align: center;
    top: -6px;
    right: -10px;
    height: 17px;
    width: 17px;
    font-weight: 600;
}

.search-input{
    display: none;
}

@media screen and (max-width: 880px) {
    .nav-list{
        width: 60%;
    }
}

@media screen and (max-width: 768px) {

    .logo-m{
        display: block;
        padding-bottom: 10px;
    }

    .nav-list{
        align-items: flex-start;
        flex-direction: column;
        height: 100vh;
        justify-content: start;
        left: -105%;
        line-height: 50px;
        padding: 15px 25px 20px;
        position: fixed;
        text-align: left;
        top: 23px;
        transition: .5s ease;
        width: 300px;
        -webkit-backdrop-filter: blur(10px) !important;
        backdrop-filter: blur(15px) !important;
        background-color: #ffffff94;
        z-index: 1000;
    }

    .nav-list.active{
        left: 0;
    }

    .burger {
        display: block;
        transition: 0.3s ease;
        z-index: 10000;
    }

    .burger.line{
        transition: 0.3s ease;
    }

    .burger.active .line:nth-child(1) {
        transform: translateY(4px) rotate(45deg);
    }

    .burger.active .line:nth-child(2) {
        opacity: 0;
    }

    .burger.active .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar-right{
        width: 100px;
        position: relative;
        right: 10px;
    }
}

@media screen and (max-width: 375px){
    .nav-list{
        width: 100%
    }
}