@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Spartan', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}


::-webkit-scrollbar-track {
    background-color: #E6E6E6;
}

::-webkit-scrollbar {
    width: 11px;
    background-color: #E6E6E6;
}

::-webkit-scrollbar-thumb {
    background-color: #8D8B8B;
}

.btn-primary{
    font-size: 13px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #121212;
    letter-spacing: .6px;
    text-transform: uppercase;
    padding: 15px 20px;
    border: none;
    margin: 0 10px;
    transition: 0.3s ease;
}

.btn-primary:hover{
    cursor: pointer;
    background-color: #E6E6E6;
    color: #121212;
}